<ul id = "subjects">
  <% Subject.all.each do |c| %>
      <li><%= link_to c.name, {:action => "show_subjects", :id => c.id } %></li>
  <% end %>
</ul>

<% if @books.blank? %>
    <p>There are not any type of books currently in the system.</p>
<% else %>
    <p>These are the current books in our system</p>



    <caption><h4><b style="color:#7ab8ff" ><center> Library Management System </center></b></h4></caption>



    <table class ="table table-bordered">

      <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Information</th>
      </tr>
      </thead>

      <tbody>


      <ul id = "books">
        <% @books.each do |c| %>

            <tr>
              <td><li><%= link_to c.title, {:action => 'show', :id => c.id} -%></td>
              <td><%= c.price -%></td>
              <td><%= link_to c.subject.name, {:action => 'show', :id => c.id} -%></td>
              <td><%= c.created_at -%></td>
              <td><%= c.description -%></td>
              <td><b> <%= link_to 'Edit', {:action => "edit", :id => c.id},:class => 'btn btn-primary btn-sm' %></b></td>
                <td><b> <%= link_to "Delete", {:action => 'delete', :id => c.id}, :confirm => "Are you sure you want to delete this item?",:class => 'btn btn-primary btn-sm'  %></b></td>
            </tr>

            </li>

            </ul>
        <% end %>

        </tbody>

    </table>


<% end %>
<p><%= link_to "Add new Book", {:action => 'new' } ,class: "btn btn-success btn-md" %></p>


