<h1><center>Add new book</center></h1>

<%= form_tag :action => 'create' do %>
    <p><label for = "book_title">Title</label>:

      <%= text_field 'book', 'title' %></p>
    <p><label for = "book_price">Price</label>:

      <%= text_field 'book', 'price' %></p>
    <p><label for = "book_subject_id">Subject</label>:

      <%= collection_select(:book, :subject_id, @subjects, :id, :name, prompt: true) %></p>
    <p><label for = "book_description">Description</label><br/>

      <%= text_area 'book', 'description' %></p>
    <%= submit_tag "Create" %>

<% end -%>
<%= link_to 'Back', {:action => 'list'},:class => 'btn btn-primary btn-sm' %>