<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav navbar-nav navbar-right">
  <%= link_to 'Sign Out',destroy_user_session_path,method: :delete,:class => 'btn btn-success btn-sm'  %>
</div>
</nav>
<div id = "header">
  <h1><b style="color:#8A2BE2"><center>Library Information System</center></b></h1>

</div>

<div id = "content">


  <%= yield -%>
</div>


</body>
</html>